h1 {
    color: aquamarine;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: brown;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 30px;
}
a {
    color: aqua;
    

}
a:hover {
    color: black;
    text-decoration: underline;
}
section {
    background-color: chartreuse;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
}
img {
    width: 50;
    height: 10cm;
    border-color: blue;
    border: 10px;
    border-radius: 15px;
}


h1 {
    color: aquamarine;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: brown;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 30px;
}
a {
    color: aqua;
    

}
a:hover {
    color: black;
    text-decoration: underline;
}
section {
    background-color: chartreuse;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
}
img {
    width: 50;
    height: 10cm;
    border-color: blue;
    border: 10px;
    border-radius: 15px;
}
.header{
    background-color: gray;
}
.number{
    text-align: right;
}
table,td{
    border: 1px solid;
}
table{
    background-color: wheat;
}
.different{
    background-color: aqua;
}
tr:nth-child{
    background-color: cadetblue;
}

